{% extends 'base.html'%}
    {% block content %}
    <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Students Table</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deparment</th>
    <th>City</th>
    <th>E-mail</th>
    <th>Contect</th>
  </tr>
  {% for i in students%}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.deparment}}</td>
    <td>{{i.city}}</td>
    <td>{{i.email}}</td>
    <td>{{i.contact}}</td>
  </tr>
  {% endfor %}
</table>

<h1>Teachers Table</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deparment</th>
    <th>City</th>
    <th>E-mail</th>
    <th>Contect</th>
  </tr>
  {% for i in teacher%}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.deparment}}</td>
    <td>{{i.city}}</td>
    <td>{{i.email}}</td>
    <td>{{i.contact}}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>



   {% endblock content %}